.landingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText {
  color: var(--colors-textSecondary);
  padding-top: var(--spacing-sm);
}
