.landingContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText {
  color: var(--colors-textSecondary);
  font-size: 2.8rem;
}
